{%load static%}
<main class="principal">
    <section class="menu-lateral">
         <nav class="menu-lateral__navegacao">
            <a href="{% url 'index' %}"><img src="{% static 'assets/ícones/1x/Home - ativo.png' %}"> Home</a>
            <a href="{% url 'login' %}"><img src="{% static 'assets/ícones/1x/login.png' %}"> Login</a>
            <a href="{% url 'cadastro' %}"><img src="{% static 'assets/ícones/1x/conta-de-usuario.png' %}"> Cadastro</a>
            <a href="{% url 'logout' %}"><img src="{% static 'assets/ícones/1x/desligar.png' %}"> Logout</a>
            <a href="{% url 'nova_imagem' %}"><img src="{% static 'assets/ícones/1x/new_image_icon_resized.png' %}"> Nova Imagem</a>
            <a href="{% url 'mais_vistas' %}"><img src="{% static 'assets/ícones/1x/Mais vistas - ativo.png' %}"> Mais Vistas</a>
            <a href="{% url 'mais_curtidas' %}"><img src="{% static 'assets/ícones/1x/Mais curtidas - ativo.png' %}"> Mais Curtidas</a>
            <a href="{% url 'surpreenda_me' %}"><img src="{% static 'assets/ícones/1x/Surpreenda-me - ativo.png' %}"> Surpreenda-me</a>
            <a href="{% url 'favoritas' foto_id %}"><img src="{% static 'assets/ícones/1x/favorito.png' %}"> Favoritas</a>
        </nav>
    </section>
