{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div class="favoritas">
    <h2>Imagens Favoritas</h2>
    <div class="grid">
        {% for foto in request.user.fotos_favoritas.all %}
        <div class="card">
            <img src="{{ foto.foto.url }}" alt="{{ foto.nome }}">
            <div class="card-info">
                <h3>{{ foto.nome }}</h3>
                <p>{{ foto.legenda }}</p>
                <a href="{% url 'remover_favorita' foto.id %}">Remover das Favoritas</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}